
<div class="content-wrapper">
    <div class="page-content-wrapper">

        <div class="row mb-4">
            <div class="col-lg-12 d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="page-title">Sửa Sản Phẩm</h1>
                </div>
            </div>
        </div>

        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <form method="POST" action="/admin/datamanagement/qlsanphamEdit/{{sanpham._id}}?_method=PUT">
                        <div class="mb-3">
                            <label for="imagesp" class="form-label">Ảnh</label>
                            <input name="imagesp" value="{{sanpham.imagesp}}" type="text" class="form-control" id="imagesp" >
                        </div>
                        <div class="mb-3">
                            <label for="namesp" class="form-label">Tên</label>
                            <input name="namesp" value="{{sanpham.namesp}}" type="text" class="form-control" id="namesp" >
                        </div>
                        <div class="mb-3">
                            <label for="motasp" class="form-label">Mô tả</label>
                            <input name="motasp" value="{{sanpham.motasp}}" type="text" class="form-control" id="motasp" >
                        </div>
                        <div class="mb-3">
                            <label for="giasp" class="form-label">Giá</label>
                            <input name="giasp" value="{{sanpham.giasp}}" type="text" class="form-control" id="giasp" >
                        </div>
                        <div class="mb-3">
                            <label for="soluongsp" class="form-label">Số lượng</label>
                            <input name="soluongsp" value="{{sanpham.soluongsp}}" type="text" class="form-control" id="soluongsp" >
                        </div>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>